// All
* {
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  // list-style: none;
  // text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

// Html and Body
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
}

//header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  display: flex;
  height: 100%;
}

//main content
main {
  position: relative;
}

@media screen and (max-width: 1440px) {
  header {
    max-width: 280px;
  }
  .app-content {
    transform: translateX(280px);
  }
}
@media screen and (min-width: 1440px) {
  header {
    max-width: 320px;
  }
  .app-content {
    // margin-left: 320px;
    transform: translateX(320px);
  }
}