.ps-main__sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  max-width: 300px;
  width: 100%;
  height: 100%;
  padding: 30px 0 30px 16px;
  background-color: #f1f2f6;

  padding: 60px 0 60px 60px;
  max-width: 320px;

  .ps-sidebar {
    position: relative;
    height: 100%;
    padding-bottom: 100px;

    .ps-sidebar__top {
      padding-right: 20px;
      margin-bottom: 30px;

      .ps-block--user-wellcome {
        margin-bottom: 40px;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-right: 30px;
        width: 100%;

        .ps-block__left img {
          border-radius: 50%;
        }
        .ps-block__right {
          padding-left: 10px;
        }

        p {
          margin-bottom: 0;
          color: #666;
          line-height: 1.4em;
          font-size: 14px;
        }
        .ps-block__action {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;

          a {
            position: relative;
            text-decoration: none;
            // transition: all 0.4s ease;
          }
        }
      }
    }

    .ps-block--earning-count {
      padding-bottom: 20px;
      border-bottom: 1px solid #ddd;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 5px;

      small {
        font-weight: 600;
        color: #666;
        font-size: 16px;
      }
      h3 {
        margin-bottom: 0;
        font-size: 24px;
        padding: 5px 0;
        text-align: center;
        width: 100%;
        font-weight: bold;
        color: #343434de;
      }
    }
    &__content {
      position: relative;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      .ps-sidebar__center {
        .menu {
          padding: 0;
          margin: 0;
          .active {
            a {
              color: $third-bgColor;
            }
            a::after {
              visibility: visible;
              opacity: 1;
            }
          }
          li {
            display: block;
            a::after {
              // content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 2px;
              height: 100%;
              background-color: #fcb800;
              // transition: all 0.4s ease;
              visibility: hidden;
              opacity: 0;
            }
            a {
              position: relative;
              display: flex;
              padding: 10px 10px;
              font-size: 16px;
              font-weight: 400;
              line-height: 20px;
              color: #222;
              font-weight: 500;
              text-transform: capitalize;
              transform-style: preserve-3d;

              span {
                margin-left: 30px;
              }
            }
          }
        }
      }
    }
  }
}
.navlink {
  &:hover {
    background-color: #e9e9e9;
    border-radius: 5px;
  }
}
.active-link {
  // color: $third-bgColor !important;
  color: $main-bgColor !important;
  background-color: $third-bgColor !important;
  border-radius: 4px;
  // transition: none !important;

  &::after {
    background-color: $third-bgColor !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}

// ======= Responsive Design ======= //
// @media screen and (min-width: 1200px) {
//     .ps-main__sidebar {
//         position: fixed;
//         top: 0;
//         left: 0;
//         display: block;
//         max-width: 300px;
//         width: 100%;
//         height: 100%;
//         padding: 30px 0 30px 16px;
//         background-color: #f1f2f6;

//         .ps-main__wrapper {
//             padding: 30px;
//         }
//     }
// }
@media screen and (max-width: 1440px) {
  .ps-main__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    max-width: 280px;
    width: 100%;
    height: 100%;
    padding: 30px 0 30px 16px;
    background-color: #f1f2f6;

    .ps-main__wrapper {
      padding: 30px;
    }
  }
  .ps-main__wrapper {
    margin-left: 280px;
  }
}
@media screen and (min-width: 1440px) {
  .ps-main__sidebar {
    max-width: 320px;
  }
  .ps-main__wrapper {
    margin-left: 320px;
  }
}

@media screen and (min-width: 1680px) {
  .ps-main__sidebar {
    padding: 60px 0 60px 60px;
  }

  .ps-main__wrapper {
    padding: 60px 80px;
    margin-left: 320px;
  }
}
@media screen and (max-width: 1440px) {
  .row {
    display: flex;
  }

  .col-12 {
    max-width: 100% !important;
  }
}
