#category {
  .header-figcaption {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .submenu-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }
  // .form-group {
  //     .ant-space {
  //         .ant-space-item {
  //             width: 100% !important;
  //         }
  //     }
  // }
  .ps-btn-green {
    display: block;
    padding: 0 10px;
    color: #188acd;
    border-radius: 4px;
    border: 0;
    background: rgb(209, 234, 255);
    &:hover {
      background-color: rgb(156, 211, 255);
      color: #188acd;
    }
    transition: transform 250ms;
  }
  .ps-btn-red {
    display: block;
    padding: 0 10px;
    color: #f5222d;
    border: 0;
    background: #ffe2dd;
    border-radius: 4px;
    &:hover {
      background-color: #ffc4b9;
      color: #f5222d;
    }
    transition: transform 250ms;
  }
  .ps-box-edit {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform 250ms;
  }
  .focus-edit {
    // transition: all 0.3s ease-in-out;
    opacity: 0.6;
    transition: transform 250ms;
  }
  .ant-input-number {
    width: 100% !important;
  }
  .disable-field {
    pointer-events: none;
    opacity: 0.4;
    color: #878787;
  }
  .ps-block--form-box {
    figcaption {
      padding: 10px 20px;
      background-color: #cbe6ff;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .ps-block__content {
      padding: 16px 24px;
      border: 1px solid #e4e4e4;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      .form-group {
        margin-bottom: 1.3rem;
        label {
          margin-bottom: 0.7rem;
          font-weight: 400;
          color: #000;
          line-height: 1em;
          font-size: 14px;
          sup {
            color: #ec2434;
          }
        }
        .form-control {
          display: block;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          outline: none;
          font-size: 14px;
          padding: 0 20px;
          height: 50px;
          border-radius: 0;
          border: 1px solid #ddd;
          transition: all 0.4s ease;
          box-shadow: 0 0 0 transparent;
          background-color: transparent;
          background-clip: padding-box;
        }
        .form-group__content {
          display: flex;
          column-gap: 15px;
        }
        .form-money {
          position: absolute;
          right: 1px;
          top: 1px;
          padding: 4px 15px;
          color: #565656;
          background-color: #f1f1f1;
        }
      }
    }
  }
}
#new-category {
  .active {
    border-bottom: 0 !important;
  }
}