.login-background {
  background-image: url('https://unsplash.it/1228/880?image=302');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(24px);
  height: 100vh;
}
#login,
#register {
  background-color: $secondary-bgColor;
  padding: 12rem 0;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  .w-30 {
    width: 30% !important;
  }
  .text-header {
    width: 100%;
    background: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    color: #5c6063;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

  .links {
    // padding-bottom: 30px;

    a {
      display: inline-block;
      padding: 0 15px;
      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .account-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    h6 {
      font-weight: 400;
      margin-bottom: 25px;
    }

    .inputs-wrapper {
      padding-bottom: 25px;

      input[type='password'],
      input[type='text'] {
        @extend %input;
        padding: 15px;
      }

      .error-border {
        border: 1px solid rgb(21, 107, 221) !important;
      }

      p {
        margin-bottom: 0;
        font-size: 13px;
      }
      .ant-alert-info {
        border: 0;
        border-radius: 4px;
        margin-top: 5px;
      }
    }

    .checkbox-input-wrapper {
      @extend %checkbox;
      padding-bottom: 25px;

      label {
        font-size: 14px;

        &::before {
          margin-right: 10px !important;
        }
      }
    }

    .submit-btn {
      padding: 0 0 40px;

      input[type='submit'] {
        @extend %primary-btn;
      }
    }

    .social-media {
      @extend %social-media;

      small {
        display: inline-block;
        margin-bottom: 12px;
      }

      li {
        a {
          width: 110px;
        }
      }
    }
  }
}

// ===== Responsive Design ===== //
@media screen and (max-width: 1399.98px) {
  #login,
  #register {
    .social-media {
      li {
        a {
          width: 88px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  #login,
  #register {
    .account-wrapper {
      margin: 0 !important;

      .social-media {
        li {
          a {
            width: 90px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #login,
  #register {
    .social-media {
      li {
        a {
          width: 100px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 470px) {
  #login,
  #register {
    .login-area,
    .register-area {
      padding: 30px 20px;

      .social-media {
        ul {
          li {
            a {
              width: 55px !important;
            }
          }
        }
      }
    }
  }
}
