#new-post {
  .header-figcaption {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    .title-name {
      font-size: 18px;
      font-weight: 500;
      color: #333;
      margin-bottom: 10px;
    }
  }
  .ps-main__wrapper {
    padding: 0;
  }
  .content {
    padding: 30px;
  }
  .header-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background: #f2f2f2;
    padding: 20px 30px;
    width: 100%;
    z-index: 999;
    margin: 0;

    .header-button-name {
      width: 50%;
      font-weight: 500;
    }
  }
  .header-button-form {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
  }
  .ps-block--form-box {
    // padding: 10px 20px;
    // background-color: #cbe6ff;
    // font-size: 16px;
    // font-weight: 600;
    // text-transform: capitalize;

    figcaption {
      padding: 10px 20px;
      background-color: #cbe6ff;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .ps-block__content {
      padding: 16px 24px;
      border: 1px solid #e4e4e4;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

      .form-group {
        margin-bottom: 1.3rem;
        label {
          margin-bottom: 0.7rem;
          font-weight: 400;
          color: #000;
          line-height: 1em;
          font-size: 14px;
          sup {
            color: #ec2434;
          }
        }

        .form-control {
          display: block;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          outline: none;
          font-size: 14px;
          padding: 0 20px;
          height: 50px;
          border-radius: 0;
          border: 1px solid #ddd;
          transition: all 0.4s ease;
          box-shadow: 0 0 0 transparent;
          background-color: transparent;
          background-clip: padding-box;
        }
        .form-group__content {
          display: flex;
          column-gap: 15px;
        }
        .form-money {
          position: absolute;
          right: 1px;
          top: 1px;
          padding: 4px 15px;
          color: #565656;
          background-color: #f1f1f1;
        }
      }
    }
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    // height: 50px;
    align-items: center;
  }
  .ant-select-selection-item {
    padding-left: 8px !important;
  }
  .tox-tinymce {
    border-radius: 0px !important;
  }
  .panel-body {
    padding: 10px 0;

    .tbl-info-product {
      border-spacing: 0;
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      .attribute-label {
        width: 25%;
        padding: 12px 0 11px;
        border-top: none;
        border-right: none;
        text-transform: initial;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.42857143;
        vertical-align: top;
        color: #565656;
      }
      .attribute-value {
        padding: 12px 0 11px 15px !important;
        border-top: none;
        font-size: 13px;
        line-height: 1.42857143;
        vertical-align: top;
        color: #000;
      }
      .highlight {
        color: #0a63d7;
      }
    }
  }
  .row:before,
  .row:after {
    display: table;
    content: '';
  }
  .row:after {
    clear: both;
  }
  .row:before,
  .row:after {
    display: table;
    content: '';
  }

  .ps-badge {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .column-gap-5 {
    column-gap: 5rem;
  }
  .header-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ant-table-cell {
    background: #fafafa !important;
  }
  .container-block-shadow {
    padding: 20px 20px 40px 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .shadow-content {
    .c-header-table {
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      display: flex;
      align-items: baseline;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 15px 10px;
      background-color: #f6f6f6;

      // div {
      //   font-size: 14px;
      //   line-height: 16px;
      // }

      .c-w1 {
        width: 32px;
        min-width: 32px;
        padding-right: 16px;
      }
      .c-w2 {
        width: 106px;
        min-width: 106px;
        padding-right: 16px;
      }
      .c-w2-small {
        width: 90px;
        min-width: 90px;
        padding-right: 16px;
      }
      .c-w3 {
        width: 136px;
        min-width: 136px;
        padding-right: 16px;
      }
      .c-w4 {
        width: 110px;
        min-width: 110px;
        padding-right: 0;
      }
      .c-w5 {
        width: 126px;
        min-width: 126px;
        padding-right: 16px;
      }
      .c-w6 {
        width: 136px;
        min-width: 136px;
        padding-right: 16px;
      }
      .c-w7 {
        width: 285px;
        min-width: 285px;
        padding-right: 16px;
      }
      .c-w8 {
        width: 80px;
        min-width: 80px;
        padding-right: 0;
      }
    }

    .c-content-table {
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      // display: flex;
      // align-items: center;
      padding: 10px;
      background-color: #f6f6f6;

      div {
        font-size: 14px;
        line-height: 16px;
      }

      .c-border-item {
        margin-top: 20px;
        border-bottom: 1px solid #e3e3e3;
      }

      .c-w1 {
        width: 32px;
        min-width: 32px;
        padding-right: 16px;
      }
      .c-w8 {
        width: 80px;
        min-width: 80px;
        padding-right: 0;
      }
    }
  }
}
