@include custom-scrollbar();
#new-order {
  .header-figcaption {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .select-product {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-search {
    display: flex;
    gap: 10px;
    // padding: 10px 10px;
    // background-color: #fbfbfc;
    // border-radius: 5px;
    margin-bottom: 1em;

    .search-category {
      width: 100%;
    }
  }
  .ant-space-item {
    .add-item {
      display: block;
      padding: 5px;
      color: #188acd;
      border-radius: 4px;
      background: aliceblue;
      &:hover {
        background-color: rgb(177, 220, 255);
      }
    }
    .added-item {
      display: block;
      padding: 5px;
      color: #0e9224;
      background: #dfffe9;
      border-radius: 4px;
      &:hover {
        background-color: #bdf3bd;
      }
    }
  }
  .action-product {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 80px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content-left {
    display: flex;
    .i-content {
      width: 100%;
      h6 {
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 600;
        padding: 0 15px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .form-quantity {
        padding: 0 15px;
      }
    }
    .i-price {
      p {
        padding: 0 15px;
        margin-bottom: 5px;
        span {
          padding: 2px 10px;
          background: #ebebeb;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 700;
          color: #5e5e5e;
        }
      }
    }
  }
  .content-right {
    display: flex;
    flex-direction: column;
    .item {
      width: 100%;
      .i-price,
      .i-qty {
        color: #5c5c5c;
        font-size: 14px;
        font-weight: 600;
        text-align: end;
        // padding-top: 15px;
        margin-bottom: 10px;
      }
      .i-price {
        span {
          padding: 2px 10px;
          background: #ebebeb;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 700;
          color: #5e5e5e;
        }
      }
      .i-qty {
        p {
          margin: 0;
          .input-number-quantity {
            width: 40px;
          }
        }
      }
    }
  }
  .o-price {
    width: 100%;
    p {
      text-align: end;
      font-size: 16px;
    }
  }
  .ps-block__content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .select-category {
      width: 100%;
      min-width: 140px;
      border-radius: 4px;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      .ant-select-selector {
        // border: 0;
      }
    }
  }
  .title-price {
    font-size: 16px;
  }

  .line-dashed {
    padding: 0 5px;
    .c-hr {
      border-top: 2px dashed #ebebeb;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 0;
    }
  }
  .order {
    overflow-x: auto;
    height: auto;
    max-height: 24.3em;

    .col-8 {
      flex: 0 0 auto;
      width: 74.666667%;
    }
    .col-4 {
      flex: 0 0 auto;
      width: 25.333333%;
    }
  }
  .i-sub {
    margin-bottom: 1em;
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  .order-sum {
    .form-group {
      margin-bottom: 1.6rem !important;
    }
  }
  .order-id {
    color: #10689d;
    font-size: 20px;
    background: #e7f0f9;
    padding: 5px 15px;
    border: 1px solid #188acdcf;
    border-right-width: 5px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
  }

  .ps-main__wrapper {
    padding: 0;
  }
  .content {
    padding: 30px;
  }
  .header-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background: #f2f2f2;
    padding: 20px 30px;
    width: 100%;
    z-index: 999;
    margin: 0;

    .header-button-name {
      width: 50%;
      font-weight: 500;
    }
  }
  .header-button-form {
    display: flex;
    margin: 0;
    justify-content: flex-end;
    width: 100%;
  }
  .ps-block--form-box {
    figcaption {
      padding: 10px 20px;
      background-color: #cbe6ff;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
    }
    .ps-block__content {
      padding: 16px 24px;
      border: 1px solid #e4e4e4;

      .form-group {
        margin-bottom: 1.3rem;
        label {
          margin-bottom: 0.7rem;
          font-weight: 400;
          color: #000;
          line-height: 1em;
          font-size: 14px;
          sup {
            color: #ec2434;
          }
        }
        .form-control {
          display: block;
          width: 100%;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          outline: none;
          font-size: 14px;
          padding: 0 20px;
          height: 50px;
          border-radius: 0;
          border: 1px solid #ddd;
          transition: all 0.4s ease;
          box-shadow: 0 0 0 transparent;
          background-color: transparent;
          background-clip: padding-box;
        }
        .form-group__content {
          display: flex;
          column-gap: 15px;
        }
        .form-money {
          position: absolute;
          right: 1px;
          top: 1px;
          padding: 4px 15px;
          color: #565656;
          background-color: #f1f1f1;
        }
      }
    }
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    // height: 50px;
    align-items: center;
  }
  .ant-select-selection-item {
    padding-left: 8px !important;
  }
  .tox-tinymce {
    border-radius: 0px !important;
  }
  .panel-body {
    padding: 10px 0;

    .tbl-info-product {
      border-spacing: 0;
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      .attribute-label {
        width: 25%;
        padding: 12px 0 11px;
        border-top: none;
        border-right: none;
        text-transform: initial;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.42857143;
        vertical-align: top;
        color: #565656;
      }
      .attribute-value {
        padding: 12px 0 11px 15px !important;
        border-top: none;
        font-size: 13px;
        line-height: 1.42857143;
        vertical-align: top;
        color: #000;
      }
      .highlight {
        color: #0a63d7;
      }
    }
  }
  .row:before,
  .row:after {
    display: table;
    content: '';
  }
  .row:after {
    clear: both;
  }
  .row:before,
  .row:after {
    display: table;
    content: '';
  }

  .ps-badge {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 14px;
  }
  .column-gap-5 {
    column-gap: 5rem;
  }
  .header-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .model-image.ant-modal-content.ant-modal-footer {
  //   display: flex !important;
  //   justify-content: space-between !important;
  // }

  .model-image {
    .show-item {
      background-color: #fff1f1;
      color: #e63333;
      &:hover {
        border: 1px solid #d9d9d9;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
    .disabled-item {
      pointer-events: none;
      cursor: not-allowed;
    }
    .show-item.span.ant-btn-loading-icon {
      display: flex;
      justify-content: center;
    }
    .ant-modal-content {
      .ant-modal-footer {
        display: flex !important;
        justify-content: flex-end !important;
      }
    }
  }
  #list-image-model {
    .list-box {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .box-item {
        display: flex;

        .box-item-content {
          display: flex;
          flex-flow: column;
          align-items: center;
          padding: 10px 10px 5px 10px;
          border-radius: 5px;
          row-gap: 5px;
          border: 1px solid #eaeaea;
        }
      }
    }
  }
  #new-category {
    .active {
      border-bottom: 0 !important;
    }
  }
  .ant-tag-green {
    color: #690 !important;
    background: #eff4e5 !important;
    display: inline-block !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border-color: #fff0 !important;
    border: 0 !important;
    margin-bottom: 5px;
  }
  .ant-tag-cyan {
    color: #666 !important;
    background: #e9e9e9 !important;
    display: inline-block !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border-color: #fff0 !important;
    border: 0 !important;
    margin-bottom: 5px;
  }
  .ant-tag-red {
    color: rgb(190, 75, 75) !important;
    background: #f1d4d4 !important;
    display: inline-block !important;
    border-radius: 4px !important;
    padding: 6px 10px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    border-color: #fff0 !important;
    border: 0 !important;
    margin-bottom: 5px;
  }
  .nodata {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tbl-info-product tr:nth-of-type(2n + 1) {
    background: #fdfdfd;
  }
  .tbl-info-product tr {
    border-bottom: 1px solid #ececec;
  }
  .form__bottom {
    display: flex;
    justify-content: flex-end;
  }
  .ant-btn-loading-icon {
    display: flex !important;
  }
  .ant-table-thead > tr > th {
    background: #cbe6ff !important;
  }
}
