.container-block {
  border-radius: 0.5rem;

  background-color: #fff;
  box-shadow: 0 0 0.3125rem #1718180d, 0 0.0625rem 0.125rem #00000026;
  outline: 0.0625rem solid #0000;

  &__title {
    align-items: center;
    border-bottom: 0.0625rem solid #e1e3e5;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    h2 {
      font-size: 1rem;
    }
  }
}
