.ant-space-item {
    .done-item {
        display: block;
        padding: 5px;
        color: #1daa55;
        border-radius: 4px;
        background: #e8fff6;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        &:hover {
            background-color: #a1f0b2;
        }
    }
}