#c-collapse-panel {
  .ant-collapse-content-box {
    padding: 0;
  }
  .tox-tinymce {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #eee;
    border-radius: 0;
  }
}
